.map{
  display: flex;
  position: relative;
}

.row{
  display: flex;
}

.tile{
  box-sizing: border-box;
  border: solid 1px #fff;
  background-color: #ccc;
}

.player {
  background-color: #5f5;
}

.box {
  background-color: #ff5;
}

.bullet {
  background-color: #f55;
}

.header {
  height: 100px;
  background-color: #fff3;
}

.pix{
  width: 40px;
  height: 40px;
  background-color: #5f5; 
  transition-duration: 500ms; 
}